<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FullLearn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEAB02E11EDEC9B70046EEF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB02F51EDEC9B70046EEF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB03001EDEC9B70046EEF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
